header {
  padding: 5px 20px;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin: 0;
      img {
        max-width: 100%;
        width: 200px;
      }
    }
    .link {
      text-decoration: none;
      color: #2c3e50;
      :hover {
        text-decoration: underline;
      }
      :active {
        color: #42b983;
      }
      .button-log {
        font-weight: bold;
        display: flex;
        justify-content: center;
        .iconUserCircle {
          padding-right: 4px;
        }
      }
    }
  }
}
